ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  color: #003965;
  font-size: 12px;
  font-family: 'Cambay', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  background-image: url("Web Portfolio Seamless Background - 75%.png")
}

h1 {
  color: purple;
  font-weight: bold;
  font-size: 24px;
}

#nav {
  color: #ADD8E6;
  background-color: #2F4F4F;
  text-indent: 5px;
  font-weight: bold;
}